body {
  background: url(https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}