body {
  background: url(https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
}